input {
	width: 400px !important;
}

.form-container {
	padding: 15px 15px 0 15px;
}

#information {
	margin: 15px 0;
}

div.ui.checkbox {
	margin-top: 10px;
	display: block;
}

.hide, #no-results {
	display: none;
}

h4.hide {
	margin-top: 5px !important;
}

div.ui.pagination.menu {
	margin-bottom: 15px;
	float: right;
}

div#spinner {
	background: none;
	border: 0;
	box-shadow: none;
	margin-bottom: 1em;
	display: none;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}